.mg {
  background-image: url("123.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.div2 {
  background-color: rgb(117, 117, 117);
  width:43.5%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 50px;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  border: 30px;
  top: 20px;
  float: left;
}
.p1 { 
  text-align:center;
  font-size: 46px;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 30px;
}
.p2 {
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px; 
}
.h3 {
  left: 10px;
  font-size: 20px;
  position:relative;
}
.p3 {
  left: 10px;
  font-size: 12px;
  position:relative;
  bottom: 10px;
  width: 300px;
}
.h4 {
  left: 10px;
  font-size: 20px;
  position:relative;
}
.p4 {
  left: 10px;
  font-size: 12px;
  position:relative;
  bottom: 10px;
  width: 300px;
}
.h5 {
  left: 10px;
  font-size: 20px;
  position:relative;
}
.p5 {
  left: 10px;
  font-size: 12px;
  position:relative;
  bottom: 10px;
  width: 300px;
}
.div3 {
  float:left;
  background:rgb(59, 59, 59);
  width:12%;
  height:150px;
  position: relative;
  top: 40px;
}
.f1 {
  float:left;
  background:rgb(255, 255, 255);
  width:200%;
  height:150px;
  position: relative;
  left:161px;
}
.p22 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: fixed;
  bottom: 450px;
  left: 740px;
  top: 10px;
}
.p23 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: fixed;
  top: 100px;
  left: 730px;
}
.p24 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: fixed;
  bottom: 450px;
  left: 740px;
  top: 170px;
}
.p25 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: fixed;
  top: 260px;
  left: 740px;
}
.p26 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: fixed;
  bottom: 450px;
  left: 740px;
  top: 335px;
}
.p27 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: fixed;
  top: 425px;
  left: 730px;
}
.div4 {
  float:right;
  background:rgb(59, 59, 59);
  width:12%;
  height:150px;
  position:relative;
  top: 200px;
  right: 498px;
}
.f2 {
  float:left;
  background:rgb(255, 255, 255);
  width:200%;
  height:150px;
  position: relative;
  left:161px;
}
.div5 {
  float:right;
  background:rgb(59, 59, 59);
  width:12%;
  height:150px;
  position:absolute;
  top: 372px;
  left: 693px;
}
.f3 {
  float:left;
  background:rgb(255, 255, 255);
  width:198%;
  height:150px;
  position: relative;
  left:161px;
}
.ba {
  background-color: black;
  
}